a {
    color: #0d6efd;
    text-decoration: underline;
  }
  a:hover {
    color: #0a58ca;
  }
  
  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }
  $bs-blue: #0d6efd;
  $bs-indigo: #6610f2;
  $bs-purple: #6f42c1;
  $bs-pink: #d63384;
  $bs-red: #dc3545;
  $bs-orange: #fd7e14;
  $bs-yellow: #ffc107;
  $bs-green: #198754;
  $bs-teal: #20c997;
  $bs-cyan: #0dcaf0;
  $bs-white: #fff;
  $bs-gray: #6c757d;
  $bs-gray-dark: #343a40;
  $bs-gray-100: #f8f9fa;
  $bs-gray-200: #e9ecef;
  $bs-gray-300: #dee2e6;
  $bs-gray-400: #ced4da;
  $bs-gray-500: #adb5bd;
  $bs-gray-600: #6c757d;
  $bs-gray-700: #495057;
  $bs-gray-800: #343a40;
  $bs-gray-900: #212529;
  $bs-secondary: #6c757d;
  $bs-success: #198754;
  $bs-info: #0dcaf0;
  $bs-warning: #ffc107;
  $bs-danger: #dc3545;
  $bs-light: #f8f9fa;
  $bs-dark: #212529;
  $bs-primary-rgb: 13, 110, 253;
  $bs-secondary-rgb: 108, 117, 125;
  $bs-success-rgb: 25, 135, 84;
  $bs-info-rgb: 13, 202, 240;
  $bs-warning-rgb: 255, 193, 7;
  $bs-danger-rgb: 220, 53, 69;
  $bs-light-rgb: 248, 249, 250;
  $bs-dark-rgb: 33, 37, 41;
  $bs-white-rgb: 255, 255, 255;
  $bs-black-rgb: 0, 0, 0;
  $bs-body-color-rgb: 33, 37, 41;
  $bs-body-bg-rgb: 255, 255, 255;
  $bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  $bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  $bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  $bs-body-font-family: var($bs-font-sans-serif);
  $bs-body-font-size: 1rem;
  $bs-body-font-weight: 400;
  $bs-body-line-height: 1.5;
  $bs-body-color: #212529;
  $bs-body-bg: #fff;


  pre,
  code,
  kbd,
  samp {
    font-family: "monospace";
    font-size: 1em;
    direction: ltr /* rtl:ignore */;
    unicode-bidi: bidi-override;
  }
  
  pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: 0.875em;
  }
  pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
  
  code {
    font-size: 0.875em;
    color: #d63384;
    word-wrap: break-word;
  }
  a > code {
    color: inherit;
  }
  
  kbd {
    padding: 0.2rem 0.4rem;
    font-size: 0.875em;
    color: #fff;
    background-color: #212529;
    border-radius: 0.2rem;
  }
  .bg-primary {
    $bs-bg-opacity: 1;
    background-color: rgba(var($bs-primary-rgb), var($bs-bg-opacity)) !important;
  }
  
  .bg-secondary {
    $bs-bg-opacity: 1;
    background-color: rgba(var($bs-secondary-rgb), var($bs-bg-opacity)) !important;
  }
  
  .bg-success {
    $bs-bg-opacity: 1;
    background-color: rgba(var($bs-success-rgb), var($bs-bg-opacity)) !important;
  }
  
  .bg-info {
    $bs-bg-opacity: 1;
    background-color: rgba(var($bs-info-rgb), var($bs-bg-opacity)) !important;
  }
  button {
          display: inline-block !important;
      font-weight: 400 ;
      line-height: 1.5 !important;
      color: #212529;
      text-align: center !important;
      text-decoration: none !important;
      vertical-align: middle !important;
      cursor: pointer !important;
      -webkit-user-select: none !important;
      -moz-user-select: none !important;
      user-select: none !important;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem !important;
      font-size: 1rem !important;
      border-radius: 0.25rem !important;
  
  }
  .bg-warning {
    $bs-bg-opacity: 1;
    background-color: rgba(var($bs-warning-rgb), var($bs-bg-opacity)) !important;
  }
  
  .bg-danger {
    $bs-bg-opacity: 1;
    background-color: rgba(var($bs-danger-rgb), var($bs-bg-opacity)) !important;
  }
  
  .bg-light {
    $bs-bg-opacity: 1;
    background-color: rgba(var($bs-light-rgb), var($bs-bg-opacity)) !important;
  }
  
  .bg-dark {
    $bs-bg-opacity: 1;
    background-color: rgba(var($bs-dark-rgb), var($bs-bg-opacity)) !important;
  }
  
  .bg-white {
    $bs-bg-opacity: 1;
    background-color: rgba(var($bs-white-rgb), var($bs-bg-opacity)) !important;
  }
  .text-center {
    text-align: center !important;
  }
  .text-cap {
  
      text-transform: capitalize;
  }
  .text-lowercase {
      text-transform: lowercase;
  }
  .text-uppercase {
      text-transform: uppercase;
  }
  
  .font-weight-normal {
      font-weight: normal;
  }
  .font-bold {
      font-weight: bolder;
  }
  .font-italic {
      font-style: italic;
  }
  .text-white {
      color: white 
  }
  
  .text-secondary {
      color: #6c757d;
  }
  .text-success {
      color: #28a745;
  }
  .text-warning {
      color: #ffc107;
  }
  .text-danger {
      color: #dc3545;
  }
  .text-black {
      color: black;
  }
  
  
  
  h1, h2, h3, h4, h5, h6 {
      font-weight: 400
  }
